body {
	/*cursor: url('cursor.cur'), auto;*/
	height: 100vh;
	background-color: #ffdee6;
}

.blm {
	font-size: 50px;
	font-family: sneakers-script-ultra-wide, sans-serif;
	letter-spacing: 2px;
	text-align: center;
}

.blm2 {
	font-size: 40px;
	font-family: sneakers-script-ultra-wide, sans-serif;
	letter-spacing: 2px;
	text-align: center;
	color: black;
}


img {
	max-width: 500px;
	max-height: 500px;
}
.imgs {
	text-align: center;
}

h2 {
	font-family: sneakers-script-ultra-wide, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #ff0040;
	text-align: center;
	letter-spacing: 2px;
}

.title {
	font-family: sneakers-script, sans-serif;
	font-size: 20px;
	color: #ff0040;
	letter-spacing: 2px;

}

.selectors {
	text-align: center;
}

.prompt {
	color: #ff0040;
	font-family: 'Jost', sans-serif;
	text-align: center;
}
.response {
	color: #ff7d9d;
	font-family: 'Jost', sans-serif;
	background-color: white;
	max-width: 90%;
	padding: 8px;
	border: solid #ff0040 3px;
	text-align: left;

}

.answers {
	text-align: center;
	position: absolute;
	display: inline-block;

}

.description {
	color: #ff7d9d;
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	max-width: 500px;
}

.sketchbkimgs {
	border-left: solid white 150px;
	border-right: solid white 10px;
	position: sticky;
	max-width: 80%;
	overflow-x: visible;
}

.return {
	float: left;
	position: sticky;
	max-width: 10px;
}

.me {
	max-width: 400px;
	float: left;
	padding: 10px;
}

/*div {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color:#e0fa8c;
	margin-left: -25px;
	margin-top: -25px;
	border-radius: 55px;
}*/