body {
	cursor: url('cursor.cur'), auto;
	height: 100vh;
	background-color: #ffdee6;
}

.blm {
	font-size: 30px;
	font-family: sneakers-script-ultra-wide, sans-serif;
	letter-spacing: 2px;
	text-align: center;
	color: black;
}

.blm:hover {
	color: magenta;
}


img {
	max-width: 500px;
	max-height: 500px;
}
.imgs {
	text-align: center;
}

h2 {
	font-family: sneakers-script-ultra-wide, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #ff0040;
	text-align: center;
	letter-spacing: 2px;
}

h2:hover {
	color: magenta;
}

.title {
	font-family: sneakers-script, sans-serif;
	font-size: 20px;
	color: #ff0040;
	letter-spacing: 2px;
}

.title:hover {
	color: magenta;
}


.selectors {
	text-align: center;
}

.prompt {
	color: #ff0040;
	font-family: 'Jost', sans-serif;
	text-align: center;
}
.response {
	color: #ff7d9d;
	font-family: 'Jost', sans-serif;
	background-color: white;
	max-width: 80%;
	padding: 8px;
	border: solid #ff0040 3px;
	text-align: left;

}

.answers {
	text-align: center;
	align-content: center;
	display: inline-block;
}

.description {
	color: #ff7d9d;
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	max-width: 500px;
}

.sketchbkimgs {
	border-left: solid white 150px;
	border-right: solid white 10px;
	position: sticky;
	max-width: 80%;
	overflow-x: visible;
}


.return {
	float: left;
	position: sticky;
	max-width: 10px;
}

.me {
	max-width: 400px;
	float: left;
	border: solid white 3px;
}

.aboutme {
	font-size: 15px;
	font-family: 'Jost', sans-serif;
	color: #ff0040;
	padding: 5px;
}


.RMtitle {
	font-size: 40px;
	color: #ff0040;
	font-family: sneakers-script, sans-serif;
	padding: 5px;
}

.RMtitle:hover {
	color: magenta;
}

.box {
	max-width: 90%;
	border: 10px;
	padding: 10px;
}

#mousemove {
	opacity: 80%;
	width: 20px;
	height: 20px;
	background-color: magenta;
	margin-left: -25px;
	margin-top: -25px;
	border-radius: 22px;
}

.journalpic {
	width: 100px;
	margin-right: 300px;
	animation: slide2 7s infinite ease-out;
}

.portfoliogif { 
	width: 100px;
	animation: slide1 7s infinite ease-out;
 }

@keyframes slide1 {
	0%{
		transform: initial;
	}
	50%{
		transform: initial;
	}
	75%{
		transform: translate(50vw, 0);
	}
	100%{
		transform: initial;
	}
}

@keyframes slide2 {
	0%{

	}
	25%{
		transform: translate(50vw, 0);
	}
	50%{
		transform: initial;
	}
}


/*div {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color:#e0fa8c;
	margin-left: -25px;
	margin-top: -25px;
	border-radius: 55px;
}*/