.bigpicst {
	float: center;
    display: inline;
    position: relative;
   }

.bigpicstL {
	float: center;
	display: inline;
	position: relative;
	align-content: center;

}
.tTitles {
	font-family: 'Jost', sans-serif,bold;
	font-size: 30px;
	color: magenta;
}

.tCaptions{
	font-family: 'Jost', sans-serif;
	font-size: 25px;
	color: magenta;
}


/*img {
	max-width: 450px;
}*/

.specialpic {
	max-width: 1000px;
}

.tpic {
	max-width: 450px;
}





.rightinfo {
	float: right;
	width: 122px;
	padding: 10px;
	height: 1000px;
	top: 0;
	background-color: white;
}


#index {
	position: sticky;
	position: fixed;
	height: 1000px;
	width: 1000px;
	background-color: white;
	/*overflow: auto;*/
}


#centerscroll {
	align-content: center;
}


.webcomic {
	max-width: 1000px;
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



.welcome {
	text-align: center;
	text-orientation: center;
}

.welcomegif {
	max-width: 1500px;
	max-height: 1000px;
	margin-left: 300px;
}


h1 {
	font-family: 'Work Sans', sans-serif;
}


h3 {
	font-family: 'Jost', sans-serif;
	font-size: 15px;
	color: magenta;
}



h2 {
	font-family: 'Jost', sans-serif;
	font-size: 20px;
	color: magenta;
	}



/*.intro {
	top: 300px;
	width: 200px;
	font-kerning: 10pt;
	color: magenta;
	/*overflow: auto;
	float: top;
	flex-wrap: auto;
}*/

p {
	font-size: 15px;
	font-family: 'Jost', sans-serif;
	color: magenta;
	font-weight: bolder;

}

.pics {
	max-width: 250px;
	padding: 10px;


}

.bigpics {
	float: right;
	max-width: 800px;
	padding: 10px;
	display: inline-block;
}



.bigimages {
	float: right;
	padding: 10px;
	display: table-cell;
	vertical-align: right;
	/*max-width: 800px; */
}

#important {
	position: sticky;
	position: fixed;
	padding: 5px;
	overflow: auto;
}







.brainicon {
	max-width: 80px;
}

.brainiconH {
	max-width: 100px;
	max-height: 100px;
}


.brainiconH:hover {
	background-color: magenta;
}




.logo {
	top: 5px;
	width: 200px;
	/*overflow: auto;*/
}

.logo1 {
	top: 10px;
	width: 150px;
}



#smallpic {
	float: right;
	padding: 10px;
	max-width: 1500px;
}



/*.intrologo {
	float: left;
	position: sticky;
	position: fixed;
	padding: 2px;
}*/



.bigpics2 {
	float: right;
	max-width: 800px;
	padding: 10px; 
}

.bigpics2:hover {
	max-width: 950px;
}



/*.hoverlink:hover {
	cursor: url('cursorpurp.cur') , auto;
}*/

body {
	cursor: 
	url('cursor.cur'), auto;
}
	


#logo {
	float: left;
	padding: 3px;

}














































/*body {
	background: linear-gradient( #f9ffe8 , #ebfdff , #d6d8ff);
}*/





/*h1 {
	font-family: 'Work Sans', sans-serif;
}

h3 {
	font-family: 'Jost', sans-serif;
	font-size: 15px;
	color: magenta;
	
}


h2 {
	font-family: 'Jost', sans-serif;
	font-size: 15px;
	
}


.intro {
	top: 300px;
	width: 200px;
	font-kerning: 10pt;
	color: magenta;
	/*overflow: auto;*/
/*	float: top;
	flex-wrap: auto;
}

p {
	font-size: 15px;
	font-family: 'Jost', sans-serif;
	color: magenta;

}

.pics {
	max-width: 250px;
	padding: 10px;


}

.bigpics {
	float: right;
	max-width: 800px;
	padding: 10px;
}

.bigimages {
	float: right;
	padding: 10px;
	/*max-width: 800px; */
/*}

#important {
	position: sticky;
	position: fixed;
	padding: 5px;
	overflow: auto;
}


.brainicon {
	max-width: 80px;

}

.logo {
	top: 10px;
	width: 250px;
	/*overflow: auto;*/
/*}

.logo1 {
	top: 10px;
	width: 150px;
}


#smallpic {
	float: right;
	padding: 10px;
	max-width: 1500px;
}



.intrologo {
	float: left;
	position: sticky;
	position: fixed;
	padding: 2px;
}







body {
	cursor: url('cursor.cur'), auto;
	*//
/*/
/*}

.logo {
	max-width: 100px;
	max-height: 100px;
}

.imgs {
	text-align: center;
}


img {
	max-width: 500px;
	max-height: 500px;
}

/*img:hover {
	max-width: 600px;
	max-height: 600px;
}*/



/*h2 {
	color: #ff0015;
	font-family: 'Jost', sans-serif;
	max-width: 80%;
	padding: 8px;
	text-align: left;

}*/

/*h2:hover {
	color: magenta;
}

.title {
	font-family: 'Jost', sans-serif;
	font-size: 20px;
	color: #ff0015;
	letter-spacing: 2px;
}

.title:hover {
	color: magenta;
}


.selectors {
	text-align: center;
}

.prompt {
	color: #ff0015;
	font-family: 'Jost', sans-serif;
	text-align: center;
}
.response {
	color: #ff0015;
	font-family: 'Jost', sans-serif;
	background-color: white;
	max-width: 80%;
	padding: 8px;
	border: solid #ff0040 3px;
	text-align: left;

}

.answers {
	text-align: center;
	align-content: center;
	display: inline-block;
}

.description {
	color: #ff0015;
	font-family: 'Space Mono', monospace;
	font-size: 14px;
	max-width: 500px;
}

.sketchbkimgs {
	border-left: solid white 150px;
	border-right: solid white 10px;
	position: sticky;
	max-width: 80%;
	overflow-x: visible;
}


.return {
	float: left;
	position: sticky;
	max-width: 10px;
}

.me {
	max-width: 400px;
	float: left;
	border: solid white 3px;
}

.aboutme {
	font-size: 15px;
	font-family: 'Space Mono', monospace;
	color: #ff0015;
	padding: 5px;
}


.RMtitle {
	font-size: 40px;
	color: #ff0015;
	font-family: 'Space Mono', monospace;
	padding: 5px;
}

.RMtitle:hover {
	color: magenta;
}

.box {
	max-width: 90%;
	border: 10px;
	padding: 10px;
}

#mousemove {
	opacity: 80%;
	width: 20px;
	height: 20px;
	background-color: magenta;
	margin-left: -25px;
	margin-top: -25px;
	border-radius: 22px;
}

.journalpic {
	width: 100px;
	margin-right: 300px;
	animation: slide2 7s infinite ease-out;
}

.portfoliogif { 
	width: 100px;
	animation: slide1 7s infinite ease-out;
 }

@keyframes slide1 {
	0%{
		transform: initial;
	}
	50%{
		transform: initial;
	}
	75%{
		transform: translate(50vw, 0);
	}
	100%{
		transform: initial;
	}
}

@keyframes slide2 {
	0%{

	}
	25%{
		transform: translate(50vw, 0);
	}
	50%{
		transform: initial;
	}
}



.returnhome {
	
	color: #ff0015;
	font-family: 'Space Mono', monospace;
	font-size: 14px;
	max-width: 500px;

}
*/*/
/*div {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color:#e0fa8c;
	margin-left: -25px;
	margin-top: -25px;
	border-radius: 55px;
}*/